
<h1> <%= current_user.present? ? 'Welcome back ' + current_user.username : 'Welcome to Picture Shack' %> </h1>


<h2> Check out these posts! </h2>

<p>
<% Post.last(5).each do |post| %>
    
    <p>
    <%= post.title %>
    <%= link_to image_tag(post.thumb), [post.gallery, post] %>
    </p>
  <% end %>
</p>

