<h1>New Gallery</h1>

<%= render 'form', gallery: @gallery %>

<div style="position:relative;top:30px;left:20px">
    <%= button_to 'Back', user_galleries_path(@user, @gallery), class: "btn btn-primary btn-lg", :method => :get %>
</div>